[submodule "sklearn_extensions"]
    path = sklearn_extensions
    url = git@github.com:ruppinlab/sklearn-extensions.git
[submodule "sksurv_extensions"]
    path = sksurv_extensions
    url = git@github.com:ruppinlab/sksurv-extensions.git
